[OpenAI]
openai_compatible_url = http://127.0.0.1:8400/v1/
api_key = EMPTY

[Huggingface]
access_token =
cache_dir =

[Results upload]
google_spreadsheet_url =

[Creative Writing Benchmark]
judge_model_api = local
judge_model = ../../../../models/Llama3-70b/Llama-3.1-70B-Instruct
judge_model_api_key =

[Options]
trust_remote_code = true

[Oobabooga config]
ooba_launch_script = 
ooba_params_global = --trust-remote-code --nowebui --model-dir ../../../../models/Llama3-70b --attn-implementation eager
automatically_launch_ooba = false
ooba_request_timeout = 600

[Benchmarks to run]
# Llama3.1-8B FP16 (vLLM OpenAI Server)
llama3_1_8b_fp16, OpenAIChat, meta-llama-3.1-8b-instruct-fp16, , none, 10, openai, , 
