[OpenAI]
openai_compatible_url = http://127.0.0.1:8300/v1/
api_key = EMPTY

[Huggingface]
access_token =
cache_dir =

[Results upload]
google_spreadsheet_url =

[Creative Writing Benchmark]
judge_model_api = local
judge_model = ../../../../models/Llama3-70b/Llama-3.1-70B-Instruct
judge_model_api_key =

[Options]
trust_remote_code = true

[Oobabooga config]
ooba_launch_script = 
ooba_params_global = --trust-remote-code --nowebui --model-dir ../../../../models/Llama3-70b --attn-implementation eager
automatically_launch_ooba = false
ooba_request_timeout = 600

[Benchmarks to run]
# DeepSeek-V2-Lite-16B FP16 (vLLM OpenAI Server)
deepseek_v2_lite_fp16, OpenAIChat, deepseek-v2-lite-fp16, , none, 10, openai, , 
