[OpenAI]
openai_compatible_url = http://127.0.0.1:8010/v1/
api_key = EMPTY

[Huggingface]
access_token =
cache_dir =

[Results upload]
google_spreadsheet_url =

[Creative Writing Benchmark]
judge_model_api = local
judge_model = ../../../../models/Llama3-70b/Llama-3.1-70B-Instruct
judge_model_api_key =

[Options]
trust_remote_code = true

[Oobabooga config]
ooba_launch_script = 
ooba_params_global = --trust-remote-code --nowebui --model-dir ../../../../models/Llama3-70b --attn-implementation eager
automatically_launch_ooba = false
ooba_request_timeout = 600

[Benchmarks to run]
# Llama70B 2:4 Sparse (vLLM OpenAI Server)
llama70b_2_4_sparse, OpenAIChat, llama31-70b-2to4-sparse, , none, 10, openai, , 
